<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zttc.itat.model.UserMapper">
    <insert id="insertUser" parameterType="com.zttc.itat.model.User">
        INSERT into t_user (name,age) VALUES (#{name},#{age})
    </insert>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM tcom.zttc.itat.model.User WHERE id=#{id}
    </delete>

    <update id="updateUser" parameterType="com.zttc.itat.model.User">
        UPDATE t_user SET  name=#{name},age=#{age} WHERE id=#{id}
    </update>

    <select id="selectAllUser"  resultType="com.zttc.itat.model.User">
        SELECT *FROM t_user
    </select>

    <select id="selectUser" parameterType="int" resultType="com.zttc.itat.model.User">
        select * from t_user where id = #{id}
    </select>

    <select id="getUser" parameterType="com.zttc.itat.model.ConditionUser" resultType="com.zttc.itat.model.User">
        SELECT * FROM d_user WHERE  name
        <if test="name!='%null%'">
            LIKE ${name} AND
        </if>
          age BETWEEN ${minAge} AND ${maxAge}
    </select>
</mapper>